@font-face {
    font-family: nhRoboto;
    src: url(../assets/fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: nhMontserat;
    src: url(../assets/fonts/montserrat/Montserrat-Regular.otf);
}

@font-face {
    font-family: nhMontseratL;
    src: url(../assets/fonts/montserrat/Montserrat-Light.otf);
}

@font-face {
    font-family: nhMontseratB;
    src: url(../assets/fonts/montserrat/Montserrat-Bold.otf);
}

body{
    font-family: nhMontseratL;
}

.bgShare{
    background-color: #f7f7f7;
}

.bgContact{
    background-color: #007aff;
    color: white;
}

.bgFooter{
    background-color: #303030;
    color: white;
    font-size: 12px;
    line-height: 1.8;
}

.p15{
    padding:15px;
}

.p20{
    padding:20px;
}

.p30{
    padding:30px;
}

.pl10{
    padding-left:10px;
}

.navbar-default{
    background-color: transparent;
    border: none;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.navbar-brands{
    float:left;
    padding: 15px 15px;
    line-height: 20px;
}

.navbar-nav>li>a{
    line-height: 70px;
    font-family: nhRoboto;
}

h1, h2, h3, h4, h5, h6{
    font-family: nhMontserat;
}

.b900{
    font-weight: 900;
}

.fontRoboto{
    font-family: nhRoboto;
}

.fontMonserat{
    font-family: nhMontserat;
}

.fontMonseratB{
    font-family: nhMontseratB;
}

.fontMonseratL{
    font-family: nhMontseratL;
}

.pt80{
    padding-top:80px;
}

.pt65{
    padding-top:65px;
}

.mtmb0{
    margin-top:0px;
    margin-bottom:0px;
}

.mt20{
    margin-top: 20px;
}

.panel-default>.panel-heading{
    background:transparent;
}

.panel{
    text-align:center;
}

.price{
    font-size:40px;
    font-weight: 700;
    vertical-align: -webkit-baseline-middle;
}

.btn-custom{
    border-radius:50px;
    padding: 5px 20px;
    font-family: nhMontserat;
}

.panel-body{
    padding:0px;
}

.list-group-item-default{
    background-color: #f5f5f5;
}

.inputNewsLetter{
    border-radius: 50px;
}

.btnNewsLetter{
    position: absolute;
    top: 2px;
    right: 2px;
}

.titleFooter{
    color:#888;
}